@model FPTJobMatch.Models.Job
<h1>Add Job</h1>

<form asp-action="Create">
    <div vlass="mb-3">
        <label class="form-label">Id</label>
        <input asp-for="Id" type="text" class="form-control" />
    </div>

    <div vlass="mb-3">
        <label class="form-label">Position</label>
        <input asp-for="Position" type="text" class="form-control" />
    </div>

    <div vlass="mb-3">
        <label class="form-label">Location</label>
        <input asp-for="Location" type="text" class="form-control" />
    </div>

    <div vlass="mb-3">
        <label class="form-label">Description</label>
        <input asp-for="Description" type="text" class="form-control" />

    </div>

    <div vlass="mb-3">
        <label class="form-label">Time</label>
        <input asp-for="Time" type="text" class="form-control" />
    </div>

    <div vlass="mb-3">
        <input type="submit" class="btn btn-primary" value="Save">
    </div>
</form>