@model FPTJobMatch.Models.Job
<h2>Delete Job</h2>

<form asp-action="Delete" asp-route-id="@Model.Id" method="post">
    <div class="form-group">
        <label asp-for="Id" class="control-label"></label>
        <input asp-for="Id" class="form-control" readonly />
    </div>

    <div class="form-group">
        <label asp-for="Position" class="control-label"></label>
        <input asp-for="Position" class="form-control" readonly />
        <span asp-validation-for="Position" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Location" class="control-label"></label>
        <input asp-for="Location" class="form-control" readonly />
        <span asp-validation-for="Location" class="text-danger"></span>

    </div>

    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" readonly />
        <span asp-validation-for="Description" class="text-danger"></span>

    </div>

    <div class="form-group">
        <label asp-for="Time" class="control-label"></label>
        <input asp-for="Time" class="form-control" readonly />
        <span asp-validation-for="Time" class="text-danger"></span>

    </div>
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>