<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <!-- Chỉ hiển thị một ảnh -->
                <div class="row g-0 about-bg rounded overflow-hidden">
                    <div class="col-12">
                        <img class="img-fluid w-100" src="https://cdn.pixabay.com/photo/2018/11/20/20/55/web-3828301_1280.jpg">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="mb-4">We Help To Get The Best Job And Find A Talent</h1>
                <p class="mb-4">We specialize in facilitating seamless connections between top-tier talent and leading job opportunities.
                Our platform is designed to streamline the recruitment process, ensuring that both employers and job seekers find their perfect match effortlessly.</p>
                <p>At the heart of our mission is a commitment to excellence, integrity, and professionalism.
                We strive to create mutually beneficial connections that drive success for both individuals and organizations, empowering them to thrive in an ever-evolving employment landscape.</p>
                <a class="btn btn-primary py-3 px-5 mt-3" href="">Read More</a>
            </div>
        </div>
    </div>
</div>
